<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="zipDirectory" value="ZipFileDirectory"/>
    <add key="workDirectory" value="WorkFilesDirectory"/>
    <add key="finalZipDirectory" value="FinalZipFileDirectory"/>
    <add key="serviceZipDirectory" value="serviceZipFileDirectory"/>
    <add key="installDirectory" value="installFilesDirectory"/>
  </appSettings>
</configuration>
